RUST_LOG=debug

# copy this file and rename it to .env
# cp .env.example .env

# chat
TEST_STREAM=true
TEST_BASE_URL=https://api.deepseek.com
TEST_KEY=<your-key>
TEST_MODEL=deepseek-v4-flash
TEST_ADAPTER=OpenAICompletion
TEST_ENDPOINT=

# mcp completion
TEST_MCP_COMPLETION_KEY=<your-key>
TEST_MCP_COMPLETION_MODEL=deepseek-v4-flash
TEST_MCP_COMPLETION_BASE_URL=https://api.deepseek.com
TEST_MCP_COMPLETION_ENDPOINT=

# mcp responses
TEST_MCP_RESPONSES_KEY=<your-key>
TEST_MCP_RESPONSES_MODEL=gpt-5.4
TEST_MCP_RESPONSES_BASE_URL=https://www.nekoapi.com/v1
TEST_MCP_RESPONSES_ENDPOINT=
